
<%= form_for [@restaurant, @review] do |f| %>

  <p>
    <Strong><%= @restaurant.name %></Strong>
  <p>
  <%= f.label :content %>
  <%= f.text_area :content, size: 40 %>
  <%= f.label :rating %>
  <%= f.select :rating, rating_range %>
  <%= f.submit "Save" %>
  </p>
<% end %>
